@import "../../variables";

.fill-remaining-space{
    flex: 1 1 auto;
}
.logo{
    font-size: 20px;
    cursor: pointer;
    margin-left: 7px;
    font-family: 'Muli', sans-serif;
}

.logo:focus{
    outline: none !important;
}

.user-name {
    font-size: 20px;
}

.mat-toolbar{
    height: 64px;
    background-color: map-get($colors,primary);
    color: map-get($colors, text-primary);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;  
}

.navbar-menu {
    top: -3px;
    background-color: map-get($colors , primary )
}

.navbar-menu {
    color: map-get($colors,text-primary);

    &:hover {
        color:map-get($colors,secondary);
    }
}

.logo{
    &:hover { 
      text-shadow: 2px 2px 5px ;
      color: map-get($colors,secondary) !important;
    }
}